In [1]:
from databus import *
import pandas as pd

In [3]:
display_file_dataset("src/data.csv")

In [2]:
display_url_dataset("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

In [3]:
display_datasets(*({"mimeType": "text/csv", "url": f"tmp:///{i}", "data": "header\nrow"} for i in range(10)))

In [4]:
df = pd.DataFrame({"hi": [1, 2], "there": [3, 4]})
df

   hi  there
0   1      3
1   2      4

In [5]:
display_pandas_dataset(df)